<!DOCTYPE html>
<html>
<head>
	<title>Crear Usuario</title>
</head>
<body>
	<h1>Crear Usuario</h1>
	<form action="/my-handling-form-page" method="post">
		<ul>
			<li>
				<input type="submit" value="Cancelar">
			</li>
			<li>
   				<label for="name">Cédula:</label>
    			<input type="text" id="idcard" name="idcard"></imput>
  			</li>
			<li>
   				<label for="name">Nombre Completo:</label>
    			<input type="text" id="name" name="name"></imput>
  			</li>
  			<li>
   				<label for="name">Nombre Usuario:</label>
    			<input type="text" id="user" name="user"></imput>
  			</li>
  			<li>
   				<label for="name">Contraseña:</label>
    			<input type="text" id="password" name="password"></imput>
  			</li>
  			<li>
   				<label for="name">Repetir Contraseña:</label>
    			<input type="text" id="password1" name="password1"></imput>
  			</li>
			<li>
				<input type="submit" value="Guardar">
			</li>
		</ul>
	</form>
</body>
</html>