header {
  background: rgba(0,0,0,0.7);
  width: 40%;
  position: fixed;
  z-index: 40;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
nav ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #eca023;
}

#Div1 {
  position: absolute;
  left: 97px;
  top: 19px;
  width: 195px;
  height: 99px;
  z-index: 1;
}
#Div2 {
  position: absolute;
  left: 316px;
  top: 20px;
  width: 517px;
  height: 69px;
  z-index: 2;
}
#apDiv3 {
  position: absolute;
  left: 95px;
  top: 153px;
  width: 742px;
  height: 312px;
  z-index: 3;
}
#apDiv4 {
  position: absolute;
  left: 107px;
  top: 164px;
  width: 90px;
  height: 23px;
  z-index: 4;
}
#apDiv5 {
  position: absolute;
  left: 107px;
  top: 205px;
  
  z-index: 5;
}
#apDiv6 {
  position: absolute;
  left: 105px;
  top: 390px;
  width: 71px;
  height: 24px;
  z-index: 6;
}
#apDiv7 {
  position: absolute;
  left: 435px;
  top: 330px;
  z-index: 7;
}
#apDiv8 {
  position: absolute;
  left: 104px;
  top: 420px;
  width: 722px;
  height: 142px;
  z-index: 8;
}
#apDiv9 {
  position: absolute;
  left: 348px;
  top: 33px;
  width: 112px;
  height: 43px;
  z-index: 9;
}
#apDiv10 {
  position: absolute;
  left: 502px;
  top: 32px;
  width: 121px;
  height: 45px;
  z-index: 10;
}
#apDiv11 {
  position: absolute;
  left: 655px;
  top: 34px;
  width: 125px;
  height: 44px;
  z-index: 11;
}
#apDiv12 {
  position: absolute;
  left: 420px;
  top: 203px;
  width: 112px;
  height: 26px;
  z-index: 12;
}
#apDiv13 {
	position: absolute;
	left: 368px;
	top: 183px;
	width: 157px;
	height: 23px;
	z-index: 13;
}
#apDiv14 {
	position: absolute;
	left: 472px;
	top: 205px;
	z-index: 14;
}

.alinear-izquierda{
text-align: left;
}

#apDiv1 {
  position: absolute;
  left: 108px;
  top: 274px;
  width: 142px;
  height: 24px;
  z-index: 15;
}
#apDiv2 {
  position: absolute;
  left: 109px;
  top: 329px;
  z-index: 16;
}
#apDiv15 {
  position: absolute;
  left: 695px;
  top: 325px;
  width: 99px;
  height: 28px;
  z-index: 17;
}
